<main class="py-5">
    <section id="team-page">
        <div class="container">
            <div class="head-title d-flex align-items-center justify-content-between my-2">
                <h4 class="text-white">Product List</h4>
                <div class="btn-wrapper">
                    <button class="btn btn-success text-white font-weight-bold" (click)="editServiceProduit()"><i
                        class="ion-android-add" style="font-size: 18px;"></i>
                        Create Product
                    </button>
                </div>
            </div>
            <div class="list-title list-team-members">
                <ul>
                    <li class="d-flex align-items-center mb-2">


                        <div class=" ml-1 text-left col-lg-2">
                            <span class="font-weight-bold">ID Product</span>
                        </div>
                        <div class="  font-weight-bold col-lg-2">
                            <p>Product name</p>
                        </div>
                        <div class=" text-center font-weight-bold  col-lg-2">
                            <p>Code product</p>
                        </div>
                        <div class=" text-center font-weight-bold  col-lg-2">
                            <p>Version</p>
                        </div>
                        <div class=" text-center font-weight-bold col-lg-2  ">
                            <p>Etat</p>
                        </div>
                        <div class=" text-center font-weight-bold col-lg-2">
                            <p>Setting</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-team-members">
                <ul *ngFor="let service of productService ">
                    <li class="d-flex align-items-center mb-2">
                        <div class="cont-user-wrapper col-lg-2">
                            <div class="d-flex align-items-center  w-30">
                                <div class=" ml-3">
                                    <span class="font-weight-bold">{{service.idproduct}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="  font-weight-bold col-lg-2 ">
                            <p>{{service.productname}}</p>
                        </div>
                        <div class=" text-center col-lg-2">
                            <p>{{service.codeproduct}}</p>
                        </div>
                        <div class=" text-center col-lg-2">
                            <p>{{service.version}}</p>
                        </div>
                        <div class="status text-center col-lg-2">
                            <span class="badge badge-success p-2">Activated</span>
                        </div>
                        <div class="action col-lg-2 text-center dropdown">
                            <a style="color: #888888;" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false"><i class="icon ion-android-settings"
                                                        style="font-size: 30px;color: #888888;"></i></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" (click)="editUpdateServiceProduit(service.idproduct)">Update Product</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" (click)="deleteServiceProduit();selectedServiceProduit = service">Delete product</a>
                            </div>
                        </div>

                </ul>
            </div>
        </div>
    </section>
</main>
