<div class=" form1 container col-lg-6">

    <form [formGroup]="editgestioncle" class="bg-light p-2 rounded-right" (ngSubmit)="actionClick()">

        <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" id="User Name" formControlName="username" maxlength="20"
                   placeholder="User Name...">
        </div>

        <div class="form-group">
            <label for="keyactivation">key activation</label>
            <input type="text" class="form-control" id="keyactivation" formControlName="keyactivation"
                   placeholder="Activation Number..." >
        </div>

        <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control" aria-describedby="version help" formControlName="productname" required
                    placeholder="Number Of Intance Online...">
        </div>
        <div class="form-group">
            <label>Nombre Instance</label>
            <input type="number" class="form-control" aria-describedby="version help" formControlName="nbreposte" required
                    placeholder="Number Of Poste...">
        </div>

        <button class="btn btn-outline-primary" type="submit" [disabled]="editgestioncle.invalid" >Update KEY
        </button>
    </form>
</div>

